@model VegeStore.Web.ViewModels.Administration.Users.AdminUsersViewModel
@{
    ViewData["Title"] = "Users";
}
<div class="completedContainer nav nav-pills" style="margin:2em;padding:1em; display:flex; justify-content:center;">
    <a asp-area="Administration" asp-controller="Users" asp-action="BannedUsers" class="nav-link active" style="background-color:#82ae46; border-radius:30px;">See Banned Users</a>
</div>
<div id="OrdersContainer" style="margin:2em;padding:1em;">
    @foreach (var user in this.Model.Users)
    {
        <div class="jumbotron">
            <h2>Email: @user.Email</h2>
            <hr class="my-4">
            <h3 class="lead">Created On: @user.CreatedOn</h3>
            <hr class="my-4">
            <h3 class="lead">Orders Count: @user.OrdersCount</h3>
            <hr class="my-4">
            <hr class="my-4">
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal1-@user.Id">
                Ban User
            </button>           
        </div>
        <!-- Modal -->
        <div class="modal fade" id="exampleModal1-@user.Id" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Do you want to ban @user.Email?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <a class="btn btn-danger" asp-area="Administration" asp-controller="Users" asp-action="BanUser" asp-route-userId="@user.Id" role="button">Ban User</a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>